[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[alias]
	co = checkout
  	br = branch
  	ci = commit
  	st = status
	unstage = reset HEAD --
	last = log -1 HEAD
	add-commit = !git add -A && git commit
